# ~/.config/systemd/user/secretsd.service
[Unit]
Description=Secret Storage Service

[Service]
Type=dbus
BusName=org.freedesktop.secrets
ExecStart=%h/.local/bin/secretsd

[Install]
WantedBy=default.target
