# ~/.config/systemd/user/secretsd.service
[Unit]
Description=Basic Secret Storage Service

[Service]
Type=dbus
BusName=org.freedesktop.secrets
ExecStart=/usr/bin/env %h/code/secretsd/secretsd.py

[Install]
WantedBy=default.target
